.row > .col-1 {
  width: 12.5%;
  margin: auto;
  padding: 5px;
}

.row > .col-2 {
  width: 25%;
  margin: auto;
  padding: 5px;
}

.row > .col-3 {
  width: 37.5%;
  margin: auto;
  padding: 5px;
}

.row > .col-4 {
  width: 50%;
  margin: auto;
  padding: 5px;
}

.row > .col-5 {
  width: 62.5%;
  margin: auto;
  padding: 5px;
}

.row > .col-6 {
  width: 75%;
  margin: auto;
  padding: 5px;
}

.row > .col-7 {
  width: 87.5%;
  margin: auto;
  padding: 5px;
}

.row > .col-8 {
  width: 100%;
  margin: auto;
  padding: 5px;
}

tbody tr td:nth-child(1) {
  padding-top: 3rem;
}

tbody tr td:nth-child(2) {
  padding-top: 5rem;
}

tbody tr td:nth-child(3) {
  padding-top: 3rem;
}

tbody tr td:nth-child(4) {
  padding-top: 5rem;
}

tbody tr td:nth-child(5) {
  padding-top: 3rem;
}

tbody tr td:nth-child(6) {
  padding-top: 5rem;
}

tbody tr td:nth-child(7) {
  padding-top: 3rem;
}

tbody tr td:nth-child(8) {
  padding-top: 5rem;
}

tbody tr td:nth-child(9) {
  padding-top: 3rem;
}

tbody tr td:nth-child(10) {
  padding-top: 5rem;
}

@media only screen and (min-width: 600px) and (min-width: 300px) {
  .row {
    width: 100%;
    display: inline;
  }

  thead tr {
    position: absolute;
  }

  thead, tbody, th, td, tr {
    display: inline-table;
  }

  td {
    position: relative;
    width: auto;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  #formulario {
    width: 100%;
  }

  .grupo-form {
    width: 100%;
    display: flex;
  }

  .contenedor-div {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) and (max-width: 1000px) {
  .row {
    width: 100%;
  }

  thead tr {
    position: absolute;
  }

  thead, tbody, th, td, tr {
    display: table;
  }

  td {
    position: relative;
    width: auto;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  #formulario {
    width: 100%;
  }

  .grupo-form {
    width: 100%;
    display: inline-block;
  }

  .contenedor-div {
    display: block;
    text-align: center;
  }
}
.cabecero {
  display: inline-block;
  width: 100%;
  background-color: black;
  color: #fff;
  font-size: 27px;
}
.cabecero .menuIcono {
  display: inline-block;
  width: 30%;
  font-size: 20px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: 300;
  margin-block-end: 0;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.contenedor-div {
  height: 100%;
  margin: 0 auto;
}

.display {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.tarjeta {
  display: inline-block;
  width: auto;
  height: 30rem;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 0px 3px #949494;
}

body, header {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

table {
  width: 100%;
  margin: 0 auto;
}
table tr, table td {
  padding: 0.5rem;
}

h1 {
  display: inline-block;
  width: 50%;
  margin: 0;
  font-size: 50px;
  padding: 2rem 0rem 0rem 4rem;
  font-weight: 300;
  margin-block-end: 0;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  margin-block-end: 0;
  padding-top: 4rem;
  font-size: 50px;
}

h3 {
  padding: 0rem 0rem 0rem 1rem;
  font-size: 24px;
}

p {
  width: 250px;
  padding: 1rem;
  font-size: 18px;
}

#formulario .grupo-form {
  border-spacing: 1px;
  width: 100%;
  margin: 10px auto;
}
#formulario label {
  padding: 5px 0;
  font-size: 14px;
  color: dimgray;
}
#formulario #nombre, #formulario #apellido, #formulario #ci, #formulario #email {
  width: 100%;
}
#formulario #aceptCondiciones {
  width: 30px;
  height: 30px;
  border: 1px solid #d8d8d8;
  margin: 5px;
}
#formulario select {
  border: 1px solid #d8d8d8;
  padding: 24px 10px 12px;
  width: 95%;
  color: dimgray;
  border-radius: 5px;
  margin: 5px;
}
#formulario input {
  padding: 24px 10px 12px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #d8d8d8;
}

.info-error {
  width: 100%;
  padding: 0.4rem;
  font-size: 12pxS;
  font-weight: 300;
  color: #a80303;
}

.imagen {
  width: 100%;
  margin: 0 auto;
  border: 2px;
}

.button {
  display: inline;
  border: 2px solid #20bbf8;
  background-color: #20bbf8;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  size: 20px;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  color: #000;
}

.titulo {
  margin: 0;
  font-size: 30px;
  padding: 1rem 0rem 0rem 1rem;
  font-weight: 300;
  margin-block-end: 0;
}

.etq-flot {
  display: flex;
  position: relative;
  color: dimgray;
}
.etq-flot label {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  padding-top: 1rem;
  font-size: 10%;
  opacity: 1;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.etq-flot > span {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  font-size: 75%;
  opacity: 1;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.etq-flot input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.etq-flot input::-moz-placeholder {
  opacity: 1;
  transition: all 0.2s;
}
.etq-flot input:-ms-input-placeholder {
  opacity: 1;
  transition: all 0.2s;
}
.etq-flot input::placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.etq-flot input:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.etq-flot input:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}
.etq-flot input:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}
.etq-flot input:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
.etq-flot input:placeholder-shown:not(:focus) + * {
  font-size: 150%;
  opacity: 0.5;
  top: 1.5rem;
  left: 1.9rem;
  text-transform: capitalize;
}

/*# sourceMappingURL=styles.css.map */
