.cabecero{
	display: inline-block;
	width: 100%;
	background-color: $color-backgroud;
	color: #fff;
  font-size: 27px;
	.menuIcono{
		display: inline-block;
		width: 30%;
		font-size: 20px;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		font-weight: 300;
		margin-block-end: 0;
	}
}

.contenedor{
	width: 100%;
	margin: $margen;
}
.contenedor-div{
height: 100%;
margin: $margen;

}
.display{
	display: inline-block;
	width: 100%;
	margin: $margen;
}
///@group Tabla conenedor de datos dentro de la tabla
.tarjeta{
	display: inline-block;
	width: auto;
	height: 30rem;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	box-shadow: 0px 3px $color-shadow;
}