///@group Formulario Elemento formulario
#formulario{
	.grupo-form{
		border-spacing: 1px;
		width: 100%;
		margin: 10px auto;    
	}
	label {
		padding: 5px 0;
		font-size: 14px;
		color: rgb(105, 105, 105);
		
	}
	#nombre,#apellido,#ci,#email{
		width: 100%;
	}
	#aceptCondiciones{
		width: 30px;
		height: 30px;
		border: 1px solid #d8d8d8;
		margin: 5px;	
	}
	select{
		border: 1px solid #d8d8d8;
		padding: 24px 10px 12px;
		width: 95%;
		color: rgb(105, 105, 105);
		border-radius: 5px;
		margin: 5px;
	}
	input{
		padding: 24px 10px 12px;
		border-radius: 5px;
		margin: 5px;
		border: 1px solid #d8d8d8;	
	}
}
///@group Formulario
.info-error{
	width: 100%;
	padding: 0.4rem;
	font-size: 12pxS;
	font-weight: 300;
	color: #a80303;
}

.imagen{
	width: 100%;
	margin: $margen;
	border: 2px;
}
///@group Boton
.button{
		display: inline;
		border: 2px solid $color-button;
		background-color: $color-button;
		padding: $border-radio;
		border-radius: 5px;
		color: white;
		size: 20px ;
		
		&:hover{    
				cursor: pointer;
		}
		&:active{
				color: #000;
		}
		
}
.titulo{
	margin: 0;
	font-size: 30px;
	padding: 1rem 0rem 0rem 1rem;
	font-weight: 300;
	margin-block-end: 0;
}
///@group Etiqueta-Flotante
.etq-flot {
	display: flex;
	position: relative;
	color: dimgray;
	label {
		position: absolute;
		left: 1rem;
		top: 0.5rem;
		padding-top: 1rem;
		font-size: 10%;
		opacity: 1;
		text-transform: uppercase;
		-webkit-transition: all .2s;
		transition: all .2s;
	}
	>span {
		position: absolute;
		left: 1rem;
		top: 0.8rem;
		font-size: 75%;
		opacity: 1;
		text-transform: uppercase;
		-webkit-transition: all .2s;
		transition: all .2s;
	}
	input {
		&::-webkit-input-placeholder {
			opacity: 1;
			-webkit-transition: all .2s;
			transition: all .2s;
		}
		&::-moz-placeholder {
			opacity: 1;
			transition: all .2s;
		}
		&:-ms-input-placeholder {
			opacity: 1;
			transition: all .2s;
		}
		&::placeholder {
			opacity: 1;
			-webkit-transition: all .2s;
			transition: all .2s;
		}
		&:placeholder-shown {
			&:not(:focus) {
				&::-webkit-input-placeholder {
					opacity: 0;
				}
				&::-moz-placeholder {
					opacity: 0;
				}
				&:-ms-input-placeholder {
					opacity: 0;
				}
				&::placeholder {
					opacity: 0;
				}
				+ {
					* {
						font-size: 150%;
						opacity: .5;
						top: 1.5rem;
						left: 1.9rem;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}
