///@group Componentes Funcion para la el ancho de las columnas
@function anchura-col($i){
    @return (100/$num-elementos)*$i;
}
@for $i from 1 through $num-elementos {
    .row> .col-#{$i}{
            width: #{anchura-col($i)}+"%";
            margin: auto;
            padding: 5px;
    }
}
///@group Tabla Funcion para dar distintos pading en la tabla
@function columna-pading($col-num){
    @if ($col-num%2==0) {
            @return $pading-col-par;
    }@else{
            @return $pading-col-impar
    }
}
$inicio: 1;
$final:10;
@for $num from $inicio through $final {
    tbody tr td:nth-child(#{$num}){
            padding-top: columna-pading($num);
    }
    
}

@media only screen and (min-width: 600px) and (min-width: 300px) {
    .row{
        width:100%;
        display: inline;
    }
    thead tr { // hide visually
        position: absolute;
    }

    thead, tbody, th, td, tr { 
        display: inline-table; 
    }
    
    td {
        position: relative;
        width: auto;
    }
    
    td:before {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    #formulario {
        width:100%;
      }
    .grupo-form {
        width:100%;
        display: flex;
    }
    .contenedor-div{
        display: block;
        text-align:center;
    } 
      
}
@media only screen and (max-width: 800px)and(max-width: 1000px) {
    .row{
        width:100%;
    }
    thead tr { // hide visually
        position: absolute;
    }

    thead, tbody, th, td, tr { 
        display: table; 
    }
    
    td {
        position: relative;
        width: auto;
    }
    
    td:before {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    #formulario {
        width:100%;
      }
    .grupo-form {
        width:100%;
        display: inline-block;
    }
    .contenedor-div{
        display: block;
        text-align:center;
    } 
}

