///@group Componentes Componentes generales
body, header{
    margin: $margen;
    height: $contenedor-height;
    width: $contenedor-width;
    font-family: $fuentes;
}
///@group Tabla Componente tabla
table{
    width: 100%;
    margin: 0 auto;
    //background-color: rgb(32, 187, 248);
    tr,td{
        padding: 0.5rem;
}
}
///@group Componentes Componentes generales
h1{
    display: inline-block;
    width: 50%;
    margin: 0;
    font-size: 50px;
    padding: 2rem 0rem 0rem 4rem;
    //padding: 1rem 1rem 0rem 1rem;
    font-weight: 300;
    margin-block-end: 0;
}
///@group Componentes Componentes generales
h2{
	margin: $margen;
	text-align: center;
  font-weight: 200;
	margin-block-end: 0;
	padding-top: 4rem;;
	font-size: 50px;
}
///@group Componentes Componentes generales
h3{
    padding: 0rem 0rem 0rem 1rem;
	font-size: 24px;
}
///@group Componentes Componentes generales
p{
width: 250px;
padding: 1rem;
font-size: 18px;
}