///@group Componentes Margen general centrado
$margen: 0 auto;
$contenedor-width: 100%;
$contenedor-height: 100%;
$color-backgroud: rgb(0, 0, 0);
$color-display: rgb(105, 105, 105);
$color-shadow: rgb(148, 148, 148);
///@group Componentes Fuente utilizada
$fuentes: 'Roboto', sans-serif;
$num-elementos: 8;
$border-radio: 0.5rem;
$color-button: rgb(32, 187, 248);
///@group Tabla 
$pading-col-par: 5rem;
///@group Tabla 
$pading-col-impar:3rem;